<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="user_registration" method="post">{% csrf_token %}
        <input type="text" name="first_name" placeholder="Enter  firstname"><br><br>
        <input type="text" name="last_name" placeholder="Enter lastname"><br><br>
         <input type="text" name="user_name" placeholder="Enter username"><br><br>
         <input type="email" name="email" placeholder="Enter email"><br><br>
         <input type="number" name="mobile" placeholder="Enter mobile"><br><br>
          <input type="password" name="password1" placeholder="Enter password1"><br><br>
          <input type="password" name="password2" placeholder="Enter password2"><br><br>
         <input type="submit" value="submit">
        </form>
</body>
</html>