<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Movies</h1>
    <ol>
        <li>KGF</li>
        <li>Fidha</li>
        <li>Fanna</li>
    </ol>
    
    <h1>Images</h1>
    <img src="{%static 'images/pic1.jpg'%}" height="300px" width="300px">
    <img src="{%static 'images/pic2.jpg'%}" height="300px" width="300px">


</body>
</html>