<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% extends 'base.html' %}
</head>
<body>
    {% block b1 %}
    <br>
    <br>
    <h1><center>High Rated Top Training Centre In Bangalore</center></h1><br>
    <p>Setting a benchmark in the industry, Apponix Technologies 
        Private Limited is the most innovative Training and Recruitment
         Company strategically located in Bangalore, 
        delivering classroom and online trainings across India, UK and USA.</p>
<p>Welcome to our website, where we offer job-oriented courses that can help you jumpstart your career in the ever-evolving technology industry. Our courses are designed to equip you with the necessary skills and knowledge to land your dream job in fields such as Cloud Computing, DevOps, Cyber Security, Full Stack Development, Data Science, 
    Digital Marketing, and Web Development</p>
    {% endblock b1 %}
    
</body>
</html>