<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% extends 'base.html' %}
    
</head>
<body>
    {% block b1 %}
    
    <center><h2><u>List of Course with Details</u></h2></center>
    <br>
   <center> <table style="width: 70%;border: 2px solid black; background-color: rgb(43, 198, 226);">
            <tr><th>Sl.no</th>
            <th>Coursename</th>
            <th>Faculty-11</th>
            <th>Faculty-2</th>
            <th>Fees</th>
            <th>Duration</th></tr>

            <tr><td>1</td>
            <td>Python</td>
            <td>Lakshmi sir</td>
            <td>Swapna</td>
            <td>30000</td>
            <td>5months</td></tr>

            <tr><td>2</td>
            <td>Java</td>
            <td>Dyanand</td>
            <td>Keerthi</td>
            <td>35000</td>
            <td>4months</td></tr>

            <tr><td>3</td>
            <td>Cyber security</td>
            <td>Lakshmi sir</td>
            <td>Waseem sir</td>
            <td>40000</td>
            <td>6months</td></tr>

            <tr><td>4</td>
            <td>Devops</td>
            <td>Raghavendra</td>
            <td>Gheetha</td>
            <td>50000</td>
            <td>8months</td></tr>

            <tr><td>5</td>
            <td>Digital marketing</td>
            <td>Amar</td>
            <td>Santhosh</td>
            <td>38000</td>
            <td>7months</td></tr>

            <tr><td>6</td>
                <td>Fullstack</td>
                <td>Lakshmi sir</td>
                <td>Waseem sir</td>
                <td>40000</td>
                <td>6months</td></tr>
    
                <tr><td>7</td>
                <td>Devops</td>
                <td>Raghavendra</td>
                <td>Gheetha</td>
                <td>50000</td>
                <td>8months</td></tr>
    
                <tr><td>8</td>
                <td>Hacking</td>
                <td>Theju</td>
                <td>Dayanad</td>
                <td>38000</td>
                <td>7months</td></tr>
                  
    </table></center>
    
<br>
<br>
<br>
<br>
    {% endblock b1 %}
    
</body>
</html>