<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% extends 'base.html' %}
</head>
<body>
    {% load static %}
    {% block b1 %}
  
    <h1 style="background: linear-gradient(white,orange);"><center><u>Apponix Institue</u></center></h1>
    <center><img src="{% static 'images/img.jpg' %}" height="400px" , width="50%"></center>
    
    <br>
    <br>
    <br>
    <br>
     <br>
     <br>
    {% endblock b1 %}
</body>
</html>